{% extends "model-page.html" %}
{% block content %}

<h2>Agendamentos</h2>
    <a href="evento/">
        <button type="button">Novo evento</button>
    </a>
    <ul style="font-size: 18px">
       {% for registro in evento %}
            <li>
                <div style= {% if registro.get_evento_atrasado %}
                            "color:red"
                            {% endif %}>
                    {{registro.titulo}} - {{registro.data_evento}} - {{registro.get_data_evento}}
                    ( <a href="evento/?id={{ registro.id }}">Editar</a>
                    / <a href="evento/delete/{{ registro.id }}/">Excluir</a> )
                </div>
            </li>
       {% endfor %}
    </ul>

{% endblock %}
